@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito+Sans:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  width: 100%;
  background-image: url(../images/Mask-Group.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-template-columns: 1170px;
  grid-template-rows: auto auto auto auto auto;
  justify-content: center;
}
main .main__introduction-block {
  display: grid;
  width: 580px;
  padding: 44px 100px 48px 39px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #2C343F;
  margin-bottom: 32px;
}
main .main__introduction-block .main__introduction-block__title {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 22px;
}
main .main__introduction-block .main__introduction-block__title span {
  color: #FFDD00;
}
main .main__introduction-block .main__introduction-block__text {
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  line-height: 26px;
  margin-right: 56px;
}
main .main__block-title {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  line-height: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
main .main__block-title .main__block-title__title {
  display: grid;
  font-style: normal;
  font-weight: 600;
}
main .main__block-title .main__block-title__hor-line {
  display: grid;
  height: 1px;
  width: 1020px;
  background-color: #fff;
  opacity: 0.5;
  justify-content: start;
}
main .main__import-block {
  display: grid;
  width: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}
main .main__import-block .main__import-block__item {
  display: grid;
  max-width: 100%;
  margin: 0 15px;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 32px;
  grid-template-rows: 38px auto;
  grid-template-columns: auto;
  font-family: "Nunito Sans", sans-serif;
}
main .main__import-block .main__import-block__item h3 {
  font-weight: 400;
  line-height: 28px;
  color: #2C343F;
  margin-bottom: 10px;
}
main .main__import-block .main__import-block__item .block-content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
main .main__import-block .main__import-block__item .block-content .m_i_i__content__row {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: start;
  align-items: start;
}
main .main__import-block .main__import-block__item .block-content .m_i_i__content__row .content-item {
  display: grid;
  background-color: #FFDD00;
  width: fit-content;
  height: fit-content;
  padding: 4px 14px;
  margin: 2px;
}
main .main__import-block .main__import-block__item .block-content .m_i_i__content__row :first-child {
  margin-left: 0;
}
main .main__import-block :first-child {
  margin-left: 0;
}
main .main__import-block :last-child {
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
